<header>
        <nav>
            <div class="row-nav clearfix">
                <div class="wrap-logo">
                    <a href="/" class="a-in-img">
                        <img src="/<%= logo %>" alt="logo" class="logo">
                    </a>
                </div>
            </div>
            <div class="row-nav clearfix">
                <p>Illustrator & Visual Storyteller</p>
            </div>
            <div class="row-nav clearfix">
                    <ul class="main-nav js--main-nav">
                        <span>Work</span>
                        <li><a class="<%= path === '/tagged/branding' ? 'active' : '' %>" href="/tagged/branding">Branding</a></li>
                        <li><a class="<%= path === '/tagged/illustration' ? 'active' : '' %>" href="/tagged/illustration">Illustrator</a></li>
                        <li><a class="<%= path === '/tagged/packaging' ? 'active' : '' %>" href="/tagged/packaging">Packaging</a></li>
                    </ul>
                    <ul class="main-nav js--main-nav">
                        <span>Info</span>
                        <li><a href="#">Contact</a></li>
                    </ul>
                    <a class="mobile-nav-icon js--nav-icon"><i class="ion-navicon-round"></i></a>
            </div>
            <div class="row-nav clearfix">
                <ul class="social-links">
                    <li><a href="#"><img src="/resources/css/img/behance.svg" alt="behance" class="behance"></a></li>
                    <li><a href="#"><i class="ion-social-facebook"></i></a></li>
                    <li><a href="#"><i class="ion-social-instagram"></i></a></li>
                </ul>
            </div>

            <div class="row-nav clearfix">
                <ul class="auth">
            <% if (!isAuthenticated) { %>
                <li>
                    <a class="btn btn-full" href="/login">Login</a>
                </li>
                <li>
                    <a class="btn btn-full" href="/signup">Sign Up</a>
                </li>
            <% } else { %>
                <li>
                    <a class="btn btn-full" href="/admin/products">Admin</a>
                </li>
                <li>
                    <form action="/logout" method="post">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <input class="btn btn-full" type="submit" value="Logout"></input>
                    </form>
                </li>
            <% } %>
                </ul>
            </div>
        </nav> 
    </header>