<%- include('./includes/head.ejs') %>
    <body>
    <%- include('./includes/header.ejs') %>
    <section class="section-img">
            <% if (prods.length > 0) { %>
            <% var j = 0; %>
            <% for(let i = 0; i < prods.length; i++) { %>
            <% j = i; %>
            <% if (i % 3 == 0) { %>
                <ul class="meals-showcase clearfix">
            <% for(; j < (i + 3) && j < prods.length; j++) { %>
                <li>
                    <figure class="block-pic hov-img0">
                        <a href="/products/<%= prods[j]._id %>" class="a-in-img">
                            <img src="/<%= prods[j].imageUrlCover %>" alt="<%= prods[j].title %>" border = "0">
                        </a>
                        <a  href="#popup" onclick="showdata('<%= prods[j].title %>', '<%= prods[j].category %>','<%= prods[j].description %>',
                            '<%= prods[j].imageUrlCover %>','<%= prods[j].imageUrlOther %>', '<%= prods[j]._id %>')" class="block-btn hov-btn1">
                            Quick View
                        </a>
                    </figure>
                </li>
            <% } %>
            <% i = j - 1; %>
                </ul>
            <% } %>
            <% } %>
            <% } else { %>
                <h1>No Products Found!</h1>
            <% } %>
    </section>
    <!-- Back to top -->
    <div class="btn-back-to-top" id="myBtn">
            <span class="symbol-btn-back-to-top">
                <i class="zmdi zmdi-chevron-up"></i>
            </span>
    </div>

    <%- include("./includes/modals.ejs") %>
<%- include("./includes/end.ejs") %>